* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
    height: 100%;


}
h1{
    font-family: 'Borel', cursive;
    font-weight: 100;
}
h2{
    font-size: 16px;
}

body {
   font-family: 'Raleway', sans-serif;
    color: wheat;
    background: rgb(39,82,190);
    background: -moz-linear-gradient(0deg, rgba(39,82,190,1) 0%, rgba(41, 57, 179, 0.575) 100%);
    background: -webkit-linear-gradient(0deg, rgba(39,82,190,1) 0%, rgba(22, 37, 158, 0.493) 100%);
    background: linear-gradient(0deg, rgba(39,82,190,1) 0%, rgba(39, 54, 165, 0.295) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2752be",endColorstr="#4158ff",GradientType=1);

}
.avatar {
border-radius: 100px;
    width: 86px;
    border: 1px solid white ;
    box-shadow: 0 0 13px white;
}
.Meio{
    text-align: center;
    margin-top: 20px;
}
.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
    
}
.social img {
    width: 33px;
    margin-right: 30px 0
    
}
.Listdelinks {
    margin: 10px 40px;
    list-style: none;
}
.Listdelinks li a {  
   marker: none;
    margin-top: 12px;
    display: block;
    background-color: white; 
    padding: 15px 20px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(25, 25, 207);
}
.Listdelinks li a span{
    color: grey;
}


